<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p><h2>[<a href="{{ url_for('new') }}">Schedule Course</a>]</h2></p>
<ul><li><h4>[CSC101] Introduction to Computer Science  - Fall 2018, 20-211 - Phillips</h4>
    <li><h4>[CSC101] Introduction to Computer Science - Spring 2018, 20-211 - Phillips</h4>
    <li><h4>[CSC304] Introduction to Object-Oriented Software Development - Fall 2018, 5-211 - Phillips</h4>
    <li><h4>[CSC321] Software Project Management - Spring 2019, 5-211 - Wang</h4></ul>
</body>
</html>